{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.11.x"
        }
      }
    ]
  ],
  "plugins": [
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ]
}